<section>
  <div id="title">
      <h1>LOGIN</h1>
  </div>

<div id="container1">
  <form
    [formGroup]="loginForm"
    fxLayout="column"
    fxLayoutAlign="center stretch"
  >
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    Login
  </button>
</div>
</section>

<app-menu></app-menu>


