#title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 140, 255);
    height: 70px;
    margin-bottom: 20px;
    box-shadow: 0 5px 5px -5px #333;
}

#title h1{
    text-align: center;
    color: rgb(245, 245, 245);
    margin : 0px;
    font-size: 20px;
    font-weight: 700;
}


#container1{
    margin-top: 30%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 30px;
    background-color: rgb(0, 140, 201);
    box-shadow: 0 0 5px #333;
    margin-bottom: 20px;
    text-align: center;
}

#username{
    color: rgb(245, 245, 245);
    font-size: 20px;
}
